@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
*{
  overflow-x: hidden;
  overflow-y: hidden;
}
.body{
  height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #3e1a80;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  position: fixed;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anonymous Pro', monospace;
  padding: 15px;
  height: 75%;
}
.main form{
  transform: -25% -50%;
  background: transparent;
  backdrop-filter: blur(25px);
  padding: 15px;
  border-radius: 25px;
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}
.main form input{
  height: 30px;
  border-radius: 10px;
  width: 70%;
}
.bg{
  position: fixed;
  z-index: -1;
  height: 100%;
  top: 0;
}