@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@media screen and (max-width: 600px){
*{
  overflow-x: hidden;
  overflow-y: hidden;
}
.body{
  height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #3e1a80;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  position: fixed;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anonymous Pro', monospace;
  padding: 15px;
}
.main form{
  transform: -50% -50%;
  background: transparent;
  backdrop-filter: blur(25px);
  padding: 15px;
  border-radius: 25px;
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
  text-align: center;
  font-size: 2rem;
  background-color: transparent;
  font-weight: 900;
  color: #fff;
}
.content{
  color: #fff;
  text-align: left;
  line-height: 35px;
  background-color: transparent;
  font-size: 1.25rem;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Anonymous Pro', monospace;
}
.input1{
  border-radius: 50px;
  width: 80%;
  height: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input2{
  height: 100px;
  border-radius: 10px;
  width: 80%;
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #fff;
  text-align: center;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg{
  position: fixed;
  z-index: -1;
  height: 100%;
  top: 0;
}
.input1:hover{
  background-color: #fff;
  color: #000;
}
.input2:hover{
  background-color: #fff;
  color: #000;
}
.submit{
  border-radius: 50px;
  width: 50%;
  height: 40px;
  color: #fff;
  background-color: transparent;
  text-align: center;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.1rem;
  font-weight: 600;
}
}
