<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="./static/css/login.css" type="text/css" media="all" />
  </head>
  <body class="body">
    <img src="./static/img/background.jpg" class="bg">
      <div class="main">
        <form action="/login" method="post">
          <h3>Login To Proceed</h3>
          <input type="text" placeholder="Username" name="username">
          <input type="password" placeholder="Password" name="password">
          <input type="submit">
        </form>
      </div>
  </body>
</html>
